html{
    /* 10/16=0.625 * 100 */
    font-size: 62.5%;
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.sidebar{
    width: 8rem;
    height: 100%;
    background-color: #eee;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.menuIcon{
    margin-top: 3rem;
    cursor: pointer;
}
.line{
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}
.line-1, .line-3{
    width: 1.8rem;
    transition: width .3s;
}
.menuIcon:hover .line{
    width: 2.5rem;
}
.socialIcons{
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.socialLink{
    font-size: 2rem;
    color: #777;
    transition: color .3s;
}
.socialLink:hover{
    color: #deaa86;
}
.year{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #555;
}
.nav{
    margin-left: 24rem;
    position: fixed;
    width: 40rem;
    height: 100%;
    background: linear-gradient(to top, rgba(34, 32, 41, .9), 
    rgba(34, 32, 41, .8)), url(https://i.pinimg.com/736x/70/c1/2b/70c12b3ef79b2e65af3da251d71f3021.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
}
.navHeader-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    color: #deaa86;
    letter-spacing: .2rem;
    text-align: center;
}
.navSearch{
    position: relative;
}
.navSearch__input{
    width: 30rem;
    padding: 1rem 2rem;
    background-color: rgba(0,0,0,0.3);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: #deaa86;
    letter-spacing: .1rem;
    outline: none;
    border: .1rem solid #555;
    border-radius: 10rem;
    transition: background-color .3s;
}
.navSearch__input:focus{
    background-color: rgba(0, 0, 0, 0.1);
}
.navSearch__button{
    border: none;
    background-color: transparent;
    color: #deaa86;
    font-size: 1.7rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.navSearch__button:focus{
    outline: none;
}
.navList{
    list-style: none;
    padding: 0;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.navItem{
    position: relative;
}
.navItem-link{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .5s;
}
.navItem-link::before{
    content: "";
    width: 0rem;
    height: .1rem;
    background-color: #deaa86;
    position: absolute;
    top: 1rem;
    left: -4rem;
    transition: width .5s cubic-bezier(1,0,0,1);
}
.navItem-link::after{
    content: "";
    width: 0rem;
    height: .1rem;
    background-color: #deaa86;
    position: absolute;
    top: 1rem;
    right: -4rem;
    transition: width .5s cubic-bezier(1,0,0,1);
}
.navItem-link:hover{
    color: #deaa86;
}
.navItem-link:hover::before,
.navItem-link:hover::after{
    width: 3rem;
}
.copyright{
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.checkbox{
    display: none;
}
.checkbox:checked ~ .nav{
    opacity: 0;
    margin-left: -40rem;
}
.header{
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0, .6), rgba(0,0,0, .5)), url(../img/hotel.jpg) center no-repeat;
    background-size: cover;
}
.logoImg{
    width: 8rem;
}
.brand{
    display: flex;
    cursor: pointer;
}
.hotelHeading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.7rem;
    font-weight: 400;
    color: #deaa86;
    letter-spacing: .2rem;
    animation: anim 2s;
}
.banner{
    color: #ddd;
    height: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bannerHeading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 2s;
}
.bannerParagraph{
    font-size: 3.5rem;
    font-weight: 300;
    animation: anim 1.5s .5s backwards;
}
.bannerButton{
    width: 21rem;
    padding: 1.2rem 2rem;
    font-size: 2rem;
    counter-reset: #333;
    letter-spacing: .1rem;
    border: none;
    border-radius: 10rem;
    outline: none;
    background: linear-gradient(to right, gold, goldenrod);
    cursor: pointer;
    animation: anim 1s 1s backwards;
}
.bannerButton:hover{
    background: linear-gradient(to left, gold, goldenrod);
}
.bannerButton:active{
    transform: translateY(.2rem);
}
@keyframes anim{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.aboutUs{
    margin-left: 8rem;
    display: flex;
    background-color: #ddd;
}
.aboutUs__heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #555;
}
.aboutUs__content{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    box-sizing: border-box;
}
.aboutUs__images{
    flex: 1 1;
}
.smallUnderline{
    width: 9rem;
    height: .1rem;
    margin: 0 auto 1rem;
    background-color: #b85d1c;
}
.bigUnderline{
    width: 20rem;
    height: .1rem;
    background-color: #b85d1c;
}
.subHeading{
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #b85d1c;
}
.aboutUs__paragraph{
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
}
.aboutUs__btn{
    width: 15rem;
    padding: .7rem .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #b85d1c;
    background-color: transparent;
    border: .1rem solid #b85d1c;
    outline: none;
    cursor: pointer;
}
.btnArrow{
    margin-left: .5rem;
    transition: margin-left .4s;
}
.aboutUs__btn:hover .btnArrow{
    margin-left: 1.5rem;
}
.aboutUs__images{
    flex: 1 1;
    position: relative;
}
.image{
    width: 32rem;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 3rem 6rem rgba(0,0,0, 0.4);
    border-radius: 0.4rem;
    border: .2rem solid #b85d1c;
}
.image-1{
    transform: translate(-20%, -90%);
}
.image-2{
    transform: translate(-70%, -70%);
}
.image-3{
    transform: translate(-50%,-50%);
}
.image-4{
    transform: translate(-30%,-30%);
}
.commonHeader{
    padding: 5rem;
    text-align: center;
    color: #b85d1c;
}
.commonHeading{
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .2rem;
}
.bigUnderline{
    width: 20rem;
    height: .1rem;
    margin: auto;
    background-color: #b85d1c;
}
.rooms{
    margin-left: 8rem;
}
.roomCard{
    width: 60rem;
    margin: 5rem;
    background-color: #15141b;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
}
.roomsCardsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.roomCard__img{
    width: 100%;
}
.roomCard__content{
    color: #ddd;
    padding: 2rem;
}
.roomCard__heading{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}
.roomCard__paragraph{
    font-size: 1.5rem;
    color: #777;
}
.roomCard__price{
    font-size: 5rem;
    font-weight: 300;
    text-align: right;
    margin: 0;
}
.roomCard__btn{
    width: 15rem;
    padding: 1.5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #b85d1c;
    border-radius: 10rem;
    background-color: transparent;
    border: .1rem solid #b85d1c;
    outline: none;
    cursor: pointer;
}
.roomsBtnWrapper
{
    text-align: center;
}
.roomsBtn{
    width: 20rem;
    padding: 1.5rem 1rem;
    margin: 4rem 0;
    background-color: transparent;
    text-transform: uppercase;
    color: #b85d1c;
    border: .2rem solid #b85d1c;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, .2);
    transition: all .2s;
}
.roomsBtn:hover{
    color: #ddd;
    background-color: #b85d1c;
}
.customers
{
    margin-left: 8rem;
    padding-bottom: 7rem;
    background-color: #15141b;
}
.customersParagraph{
    font-size: 1.8rem;
    color: #ddd;
    width: 50%;
    margin: 2rem auto 8rem auto;
}
.customersCardWrapper{
    display: flex;
    justify-content: space-evenly;
}
.customerCard{
    background-color: #eee;
    width: 60rem;
    display: flex;
}
.customerImageWrapper{
    margin: auto 0;
}
.customerImage{
    width: 17rem;
    margin-left: -1.3rem;
}
.customerInfo{
    padding: 0 2rem;
}
.customerFullname{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0;
}
.customerParagraph__1
{
    font-size: 1.2rem;
    font-style: italic;
    color: #b85d1c;
}
.customerParagraph__2
{
    font-size: 1.3rem;
    padding: 2rem 0;
    font-style: italic;
}









/*  */